.carousel-demo-container {
  width: 700px;
  height: 1000px;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0;
  perspective: 2300px;
}

#carousel-demo {
  width: 25%;
  height: 25%;
  left: 37.5%;
  top: 37.5%;
  position: absolute;
  transform-style: preserve-3d;
  // transition: transform 1s;
}
#carousel-demo figure {
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  color: black;
  left: 10px;
  top: 10px;
  font-size: 100px;
  text-align: center;
  border: 1px solid black;
  margin: 0px;
}

#carousel-demo .cd-panel-1 {
  transform: rotateY(0deg) translateZ(323px);
  background: hsla(0, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-2 {
  transform: rotateY(36deg) translateZ(323px);
  background: hsla(60, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-3 {
  transform: rotateY(72deg) translateZ(323px);
  background: hsla(120, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-4 {
  transform: rotateY(108deg) translateZ(323px);
  background: hsla(180, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-5 {
  transform: rotateY(144deg) translateZ(323px);
    background: hsla(0, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-6 {
  transform: rotateY(180deg) translateZ(323px);
  background: hsla(60, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-7 {
  transform: rotateY(216deg) translateZ(323px);
  background: hsla(120, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-8 {
  transform: rotateY(252deg) translateZ(323px);
  background: hsla(180, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-9 {
  transform: rotateY(288deg) translateZ(323px);
  background: hsla(240, 100%, 50%, 0.85);
}
#carousel-demo .cd-panel-10 {
  transform: rotateY(324deg) translateZ(323px);
  background: hsla(300, 100%, 50%, 0.85);
}

#carousel-demo.show-panel-free-spin-clock{
  width: 25%;
  height: 25%;
  position: absolute;
  animation: carousel-spin-clock 25s infinite linear;
  transform-style: preserve-3d;
}

#carousel-demo.show-panel-free-spin-counter{
  width: 25%;
  height: 25%;
  position: absolute;
  animation: carousel-spin-counter 25s infinite linear;
  transform-style: preserve-3d;
}

/* Keyframes */

@keyframes carousel-spin-clock {
  from { transform: rotateY(0) rotateX(0); }
  to { transform: rotateY(-360deg) rotateX(0deg); }
}

@keyframes carousel-spin-counter {
  from { transform: rotateY(0) rotateX(0); }
  to { transform: rotateY(360deg) rotateX(0deg); }
}


.cd-row-1 {
}

#carousel-demo.cd-row-1 {
    top: 15%;
}

#carousel-demo.cd-row-2 {
    top: 28%;
}

#carousel-demo.cd-row-3 {
    top: 41%;
}

#carousel-demo.cd-row-4 {
    top: 54%;
}
