.carousel-container {
  width: 840px;
  height: 350px;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0;
  perspective: 1200px;
}
#carousel {
  width: 25%;
  height: 25%;
  left: 37.5%;
  top: 37.5%;
  position: absolute;
  transform-style: preserve-3d;
  // transition: transform 1s;
}
#carousel figure {
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  color: black;
  left: 10px;
  top: 10px;
  font-size: 100px;
  text-align: center;
  border: 1px solid black;
  margin: 0px;
}

#carousel .panel-1 {
  transform: rotateY(0deg) translateZ(323px);
  background: hsla(0, 100%, 50%, 0.85);
}
#carousel .panel-2 {
  transform: rotateY(36deg) translateZ(323px);
  background: hsla(60, 100%, 50%, 0.85);
}
#carousel .panel-3 {
  transform: rotateY(72deg) translateZ(323px);
  background: hsla(120, 100%, 50%, 0.85);
}
#carousel .panel-4 {
  transform: rotateY(108deg) translateZ(323px);
  background: hsla(180, 100%, 50%, 0.85);
}
#carousel .panel-5 {
  transform: rotateY(144deg) translateZ(323px);
    background: hsla(0, 100%, 50%, 0.85);
}
#carousel .panel-6 {
  transform: rotateY(180deg) translateZ(323px);
  background: hsla(60, 100%, 50%, 0.85);
}
#carousel .panel-7 {
  transform: rotateY(216deg) translateZ(323px);
  background: hsla(120, 100%, 50%, 0.85);
}
#carousel .panel-8 {
  transform: rotateY(252deg) translateZ(323px);
  background: hsla(180, 100%, 50%, 0.85);
}
#carousel .panel-9 {
  transform: rotateY(288deg) translateZ(323px);
  background: hsla(240, 100%, 50%, 0.85);
}
#carousel .panel-10 {
  transform: rotateY(324deg) translateZ(323px);
  background: hsla(300, 100%, 50%, 0.85);
}

#carousel.show-panel-1 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(0);
}
#carousel.show-panel-2 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-36deg);
}
#carousel.show-panel-3 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-72deg);
}
#carousel.show-panel-4 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-108deg);
}
#carousel.show-panel-5 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-144deg);
}
#carousel.show-panel-6 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-180deg);
}
#carousel.show-panel-7 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-216deg);
}
#carousel.show-panel-8 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-252deg);
}
#carousel.show-panel-9 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-288deg);
}
#carousel.show-panel-10 {
  transition: transform 1s;
  transform: translateZ(-323px) rotateY(-324deg);
}
#carousel.show-panel-free-spin{
  width: 25%;
  height: 25%;
  left: 37.5%;
  top: 37.5%;
  position: absolute;
  // perspective: 1200px;
  animation: carousel-spin 15s infinite linear;
  transform-style: preserve-3d;
  // transition: transform 1s;
}

/* Show buttons */

#carousel-show-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#carousel-show-buttons button {
  margin: 25px 10px;
}

.show-panel-1:hover, .show-panel-1:focus {
  background: hsla(0, 100%, 50%, 0.5);
}

.show-panel-2:hover, .show-panel-2:focus {
  background: hsla(60, 100%, 50%, 0.5);
}

.show-panel-3:hover, .show-panel-3:focus {
  background: hsla(120, 100%, 50%, 0.5);
}

.show-panel-4:hover, .show-panel-4:focus {
  background: hsla(180, 100%, 50%, 0.5);
}

.show-panel-5:hover, .show-panel-5:focus {
  background: hsla(0, 100%, 50%, 0.5);
}

.show-panel-6:hover, .show-panel-6:focus {
  background: hsla(60, 100%, 50%, 0.5);
}

.show-panel-7:hover, .show-panel-7:focus {
  background: hsla(120, 100%, 50%, 0.5);
}

.show-panel-8:hover, .show-panel-8:focus {
  background: hsla(180, 100%, 50%, 0.5);
}

.show-panel-9:hover, .show-panel-9:focus {
  background: hsla(240, 100%, 50%, 0.5);
}

.show-panel-10:hover, .show-panel-10:focus {
  background: hsla(300, 100%, 50%, 0.5);
}

/* Keyframes */

@keyframes carousel-spin {
  from { transform: rotateY(0) rotateX(0); }
  to { transform: rotateY(-360deg) rotateX(0deg); }
}
