.rectangular-container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 1200px;
}
#rectangular {
  width: 50%;
  height: 50%;
  top: 5%;
  left: 10%;
  margin: 15% 15%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
}

#rectangular figure {
  display: block;
  position: absolute;
  border: 1px solid black;
  font-size: 50px;
  line-height: 95px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0px;
}

#rectangular .rectangular-a {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 196px;
  background: hsla(0, 100%, 50%, 0.7);
  -webkit-transform: translateZ(50px);
}
#rectangular .rectangular-b {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 196px;
  background: hsla(  60, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(180deg) translateZ(50px);
}
#rectangular .rectangular-c {
  -webkit-transition: -webkit-transform 1s;
  width: 96px;
  height: 196px;
  left: 100px;
  background: hsla( 120, 100%, 50%, 0.7 );
  -webkit-transform: rotateY(90deg) translateZ(150px);
}
#rectangular .rectangular-d {
  -webkit-transition: -webkit-transform 1s;
  width: 96px;
  height: 196px;
  left: 100px;
  background: hsla( 180, 100%, 50%, 0.7 );
  -webkit-transform: rotateY(-90deg) translateZ(150px);
}
#rectangular .rectangular-e {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 96px;
  top: 50px;
  background: hsla( 240, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(90deg) translateZ(100px);
}
#rectangular .rectangular-f {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 96px;
  top: 50px;
  background: hsla( 300, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}

#rectangular .rectangular-a-unpack {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 196px;
  background: hsla(0, 100%, 50%, 0.7);
  -webkit-transform: translateZ(100px);
}
#rectangular .rectangular-b-unpack {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 196px;
  background: hsla(  60, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(180deg) translateZ(100px);
}
#rectangular .rectangular-c-unpack {
  -webkit-transition: -webkit-transform 1s;
  width: 96px;
  height: 196px;
  left: 100px;
  background: hsla( 120, 100%, 50%, 0.7 );
  -webkit-transform: rotateY(90deg) translateZ(300px);
}
#rectangular .rectangular-d-unpack {
  -webkit-transition: -webkit-transform 1s;
  width: 96px;
  height: 196px;
  left: 100px;
  background: hsla( 180, 100%, 50%, 0.7 );
  -webkit-transform: rotateY(-90deg) translateZ(300px);
}
#rectangular .rectangular-e-unpack {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 96px;
  top: 50px;
  background: hsla( 240, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(90deg) translateZ(200px);
}
#rectangular .rectangular-f-unpack {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 96px;
  top: 50px;
  background: hsla( 300, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(-90deg) translateZ(200px);
}

#rectangular .rectangular-a-unpack:hover {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 196px;
  background: hsla(0, 100%, 50%, 0.7);
  -webkit-transform: translateZ(11x);
  color: black;
}
#rectangular .rectangular-b-unpack:hover {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 196px;
  background: hsla(  60, 100%, 50%, 0.7 );
  -webkit-transform: rotateX(180deg) translateZ(11x);
  color: black;
}
#rectangular .rectangular-c-unpack:hover {
  -webkit-transition: -webkit-transform 1s;
  width: 96px;
  height: 196px;
  left: 100px;
  background: hsla( 120, 100%, 50%, 1 );
  color: black;
  -webkit-transform: rotateY(90deg) translateZ(300px);
}
#rectangular .rectangular-d-unpack:hover {
  -webkit-transition: -webkit-transform 1s;
  width: 96px;
  height: 196px;
  left: 100px;
  background: hsla( 180, 100%, 50%, 1 );
  color: black;
  -webkit-transform: rotateY(-90deg) translateZ(300px);
}
#rectangular .rectangular-e-unpack:hover {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 96px;
  top: 50px;
  background: hsla( 240, 100%, 50%, 1 );
  color: black;
  -webkit-transform: rotateX(90deg) translateZ(200px);
}
#rectangular .rectangular-f-unpack:hover {
  -webkit-transition: -webkit-transform 1s;
  width: 296px;
  height: 96px;
  top: 50px;
  background: hsla( 300, 100%, 50%, 1 );
  color: black;
  -webkit-transform: rotateX(-90deg) translateZ(200px);
}


#rectangular.show-rectangular-a {
  -webkit-transform: translateZ(-50px) rotateY(0deg);
}
#rectangular.show-rectangular-b {
  -webkit-transform: translateZ(-50px) rotateX(-180deg);
}
#rectangular.show-rectangular-c {
  -webkit-transform: translateZ(-150px) rotateY(-90deg);
}
#rectangular.show-rectangular-d {
  -webkit-transform: translateZ(-150px) rotateY(90deg);
}
#rectangular.show-rectangular-e {
  -webkit-transform: translateZ(-100px) rotateX(-90deg);
}
#rectangular.show-rectangular-f {
  -webkit-transform: translateZ(-100px) rotateX(90deg);
}
#rectangular.show-rectangular-free-spin {
  width: 50%;
  height: 50%;
  top: 5%;
  left: 10%;
  margin: 15% 15%;
  position: absolute;
  animation: spin 15s infinite linear;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
}

/* Show buttons */

section#rectangular-show-buttons {
  display: flex;
  justify-content: center;
}

#rectangular-show-buttons button {
  margin: 25px 10px;
}

.show-rectangular-a:hover, .show-rectangular-a:focus {
  background: hsla(0, 100%, 50%, 0.5);
}

.show-rectangular-b:hover, .show-rectangular-b:focus {
  background: hsla(  60, 100%, 50%, 0.5 );
}

.show-rectangular-c:hover, .show-rectangular-c:focus {
  background: hsla( 120, 100%, 50%, 0.5 );
}

.show-rectangular-d:hover, .show-rectangular-d:focus {
  background: hsla( 180, 100%, 50%, 0.5 );
}

.show-rectangular-e:hover, .show-rectangular-e:focus {
  background: hsla( 240, 100%, 50%, 0.5 );
}

.show-rectangular-f:hover, .show-rectangular-f:focus {
  background: hsla( 300, 100%, 50%, 0.5 );
}

/* Keyframes */

@keyframes spin {
  from { transform: rotateY(0) rotateX(0); }
  to { transform: rotateY(-360deg) rotateX(360deg); }
}
